<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" 
		th:remove="${#strings.equals(currentAction, contextPrefix + '/search')} ? 'all' : 'none'"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
		th:remove="${#strings.equals(currentAction, contextPrefix + '/search')} ? 'none' : 'all'"/>
<meta name="robots" content="none" />
<meta http-equiv="Imagetoolbar" content="no" />
<link rel="apple-touch-icon" sizes="180x180"  th:href="@{/apple-touch-icon.png} + '?' + ${@buildTime.getTimestamp()}" />
<link rel="icon" sizes="32x32" type="image/png" th:href="@{/favicon-32x32.png} + '?' + ${@buildTime.getTimestamp()}" />
<link rel="icon" sizes="16x16" type="image/png" th:href="@{/favicon-16x16.png} + '?' + ${@buildTime.getTimestamp()}" />
<link
	th:href="@{/assets/css/bootstrap.min.css} + '?' + ${@buildTime.getTimestamp()}"
	rel="stylesheet" />
<link
	th:href="@{/assets/css/bootstrap-datepicker3.min.css} + '?' + ${@buildTime.getTimestamp()}"
	rel="stylesheet" />
<link
	th:href="@{/assets/css/style.css} + '?' + ${@buildTime.getTimestamp()}"
	rel="stylesheet" />

<script th:inline="javascript">
/*<![CDATA[*/
  var CONTEXT_PATH = /*[[ @{/} ]]*/ 'Context Path';
/*]]>*/
</script>
</head>
<body></body>
</html>
